.task {
  border-bottom: 1px solid lightgrey;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 55px;
  color: gray;

  &__title {

    &_complete {
      text-decoration: line-through;
    }
  }

  &__title-input {}

  &__title, &__title-input {
    padding: 10px 10px 10px 10px;
    word-break: break-all;
    display: block;
    order: 1;
    flex: auto;
    font-size: 20px;
    border-radius: 5px;
  }

  &__button {
    width: 30px;
  }

  &__buttons-container {
    order: 2;
    margin-left: auto;
    flex: 0 0 65px;
    align-content: center;
  }

  &__status {
    margin: auto 10px;
    color: red;
    cursor: pointer;
    order: 0;
    width: 30px;

    & > .fa {
      line-height: inherit;
    }

    &_complete {
      color: green;
      cursor: not-allowed;
    }
  }
}

.align-vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.justify-right {
  right: 0;
  margin: 0 5px;
}
