.todo-app {
  border: 2px solid grey;
  border-radius: 5px;

  &__header {
    text-align: left;
    padding: 5px;
  }

  &__footer {
    text-align: right;
    padding: 5px;
  }

  &__header, &__footer {
    width: 100%;
    font-size: 20px;
  }
}

.header {
  &__sort-button {
    margin: 0 5px;
    width: 70px;
    cursor: pointer;
    text-decoration: none !important;
    display: inline-block;
  }
}
